{% extends "layout.html" %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center">

        <div class="card border-warning border-3 shadow-lg">

            <!-- Header -->
            <div class="card-header text-center bg-warning fw-bold fs-5">
                404 ERROR
            </div>

            <!-- Body -->
            <div class="card-body text-center bg-light">

                <!-- GIF -->
                <img src="https://media1.tenor.com/m/rnwwyTaGQh0AAAAC/ehe-anime.gif"
                     class="img-fluid border rounded mb-3"
                     alt="error gif">

                <!-- Text -->
                <h5 class="fw-bold">
                    Something has gone wrong!
                </h5>
                <p class="mb-0 text-secondary">
                    Looks like the file you were looking for doesn't exist
                </p>

                <a href="{{ url_for('home') }}" class="btn btn-primary mt-3">Let's get you back home</a>

            </div>
        </div>

    </div>
{% endblock content %}
