{% extends "layout.html" %}
{% block stylesheets %}
    <style>
        #board1 .col-3 > div,
        #board2 .col-3 > div {
            aspect-ratio: 1 / 1;
        }
    </style>
{% endblock stylesheets %}
{% block content %}
    <!-- TOP BAR -->
    <div class="container-fluid py-3 border-bottom">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="fw-bold fs-3">
                2048
            </h1>
            <button class="btn btn-primary" id="New_game">
                New Game
            </button>
        </div>
        <div class="mt-3">
            <button class="btn btn-warning btn-sm" id="btnCreate">
                Create Tile
            </button>
            <button class="btn btn-danger btn-sm" id="btnDestroy">
                Destroy Tile
            </button>
            <button class="btn btn-info btn-sm" id="btnShuffle">
                Rearrange Board
            </button>
            <button class="btn btn-info btn-sm" id="btnCreateNegative">
                Create Negative Tile
            </button>

        </div>
    </div>
    <!--both game board in a row-->
    <div class="container my-4">
        <div class="row align-items-center text-center" id="game_board_row">

            <!--player 1 space-->
            <div class="col-md-5 mb-4">
                <div class="card bg-secondary text-light" id="panel_1">
                    <div class="card-body">

                        <!--display player name-->
                        <div class="mt-3 d-flex justify-content-between">
                            <h5 class="fw-bold text-start mb-3">
                                Player 1
                            </h5>

                            <div class="d-flex justify-items-center">
                                <span class="mb-2">Time remaining: </span>
                                <span id="timer1">9999</span>
                            </div>

                        </div>

                        <!--display player score-->
                        <div class="bg-dark rounded p-2 mt-3 d-flex justify-content-between">
                            <p class="mb-2">
                                Current Score:
                            </p>
                            <h4 id="player_1_score">
                                0
                            </h4>

                            <p class="mb-2">
                                Current Trash Point:
                            </p>
                            <h4 id="player_1_trash_point">
                                0
                            </h4>

                        </div>
                        <br>

                        <!--the board grid -->
                        <div class="position-relative bg-dark p-2 rounded" id="board1">
                            <div class="row g-1">
                                <!--the 16 cells board-->
                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>
                            </div>

                            <div class="position-absolute top-0 start-0 w-100 h-100" id="layer1">
                            </div>

                            <div class="position-absolute top-50 start-50 translate-middle text-center d-none"
                                 id="overlay1">
                                <div id="ovIcon1">
                                </div>
                                <div id="ovSub1">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--the vs in the middle-->
            <div class="col-md-2 mb-4">
                <h1 class="fw-bold fs-2">
                    VS
                </h1>
            </div>

            <!--player 2 space-->
            <div class="col-md-5 mb-4">
                <div class="card bg-secondary text-light shadow" id="panel2">
                    <div class="card-body">

                        <!--display player name-->
                        <div class="mt-3 d-flex justify-content-between">
                            <h5 class="fw-bold text-start mb-3">
                                Player 2
                            </h5>
                            <br>

                            <div class="d-flex justify-items-center">
                                <span class="mb-2">Time remaining: </span>
                                <span id="timer2">9999</span>
                            </div>

                        </div>

                        <!--display player score-->
                        <div class="bg-dark rounded p-2 mt-3 d-flex justify-content-between">
                            <p class="mb-2">
                                Current Score:
                            </p>
                            <h4 id="player_2_score">
                                0
                            </h4>

                            <p class="mb-2">
                                Current Trash Point:
                            </p>
                            <h4 id="player_2_trash_point">
                                0
                            </h4>
                        </div>
                        <br>

                        <!--the player 2 board grid -->
                        <div class="position-relative bg-dark p-2 rounded" id="board2">
                            <div class="row g-1">
                                <!--16 cells board-->
                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-secondary p-4 rounded">
                                    </div>
                                </div>
                            </div>

                            <div class="position-absolute top-0 start-0 w-100 h-100" id="layer2">
                            </div>

                            <div class="position-absolute top-50 start-50 translate-middle text-center d-none"
                                 id="overlay2">
                                <div id="ovIcon2">
                                </div>
                                <div id="ovSub2">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- RESULT BANNER -->
    <div class="container text-center d-none" id="resultBanner">
        <div class="bg-dark p-4 rounded shadow">
            <h3 id="resultTitle">
            </h3>
            <p id="resultSub">
            </p>

            <div class="row">
                <div class="col">
                    <div>
                        Player 1
                    </div>
                    <div id="rScore1">
                        0
                    </div>
                </div>
                <div class="col">
                    <div>
                        Player 2
                    </div>
                    <div id="rScore2">
                        0
                    </div>
                </div>
            </div>

            <button class="btn btn-success mt-3" id="btnRetry">
                Play Again
            </button>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script>
        // https://stackoverflow.com/questions/37259740/passing-variables-from-flask-to-javascript
        const data = {{ data | tojson }}
    </script>
    <script src="{{url_for('static', filename='js/board.js')}}"></script>
{% endblock scripts %}
