{% extends "layout.html" %}
{% import "bootstrap_wtf.html" as wtf %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5 d-flex">
            <div class="card w-100 shadow-sm">

                <!-- Header -->
                <div class="card-header text-center fw-bold">
                    Change Username
                </div>

                <!-- Body -->
                <div class="card-body">
                    <form method="post" action="">
                        {{ form.hidden_tag() }}
                        <!-- Current Username (readonly for context) -->
                        <!-- Could make it into a form class but will depend if there are future disabled inputs -->
                        <div class="mb-3">
                            <label class="form-label">
                                Current Username
                            </label>
                            <input type="text"
                                   class="form-control"
                                   value="{{ current_user.username }}"
                                   disabled>
                        </div>

                        {{ wtf.form_field(form.new_username) }}
                        {{ wtf.form_field(form.password) }}
                        {{ wtf.submit_cancel(form.submit, url_for('profile', username=current_user.username) ) }}

                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}
