{% extends "layout.html" %}
{% block content %}
    <div class="container py-5">
        <div class="row justify-content-center align-items-start g-4">

            <div class="col-md-6 col-lg-5 text-center">
                <div class="game-container d-flex justify-content-center">
                    <div id="board-player">
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-5 text-center">
                <div class="game-container d-flex justify-content-center">
                    <div id="board-enemy">
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}
