{# Just copy this code, delete all comments and write HTML/Jinja in between the content block #}
{% extends "layout.html" %}
{% import "bootstrap_wtf.html" as wtf %}
{% block content %}
    <!-- Centered width control using grid -->
    <div class="row justify-content-center py-5">

        <!-- Top Row -->
        <div class="row align-items-center text-center mb-3">
            <div>
                <a id="createMatch"
                   class="btn btn-primary w-100"
                   href="{{ url_for('main.create_match') }}">
                    Create a Match
                </a>
            </div>
            <!-- <div class="col-2 fw-bold">
                OR
            </div> -->

            {# <div class="col-5">
                <a href="{{ url_for('create_tournament') }}" class="btn btn-success w-100">
                    Create a Tournament
                </a>
            </div> #}
        </div>

        <!-- Divider -->
        <hr class="my-3 w-100">

        <!-- Bottom Input -->
        <form method="post" action="">
            {{ form.hidden_tag() }}

            <div class="input-group">
                {% if form.match_id.errors %}
                    {{ form.match_id(class="form-control is-invalid", placeholder="Enter match ID") }}
                    {{ form.submit(class="btn btn-primary") }}
                    <div class="invalid-feedback d-block">
                        {% for error in form.match_id.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.match_id(class="form-control", placeholder="Enter match ID") }}
                    {{ form.submit(class="btn btn-primary") }}
                {% endif %}
            </div>
        </form>

        <!-- Leaderboard & History -->
        <div class="d-flex justify-content-center gap-4 mt-4">
            <!-- Leaderboard -->
            <div class="card shadow-sm w-100">
                <div class="card-header text-center fw-bold">
                    Leaderboard
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-striped align-middle table-hover mb-0">
                        <!-- Jinja for loop and pull from db -->
                        <thead>
                            <tr>
                                <th scope="col">
                                    #
                                </th>
                                <th scope="col">
                                    Username
                                </th>
                                <th scope="col">
                                    Elo
                                </th>
                                <th scope="col">
                                    Number of Wins
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in leaderboard %}
                                <tr class="{% if entry.user.id == current_user.id %}table-primary fw-bold{% endif %}">
                                    <td>
                                        {{ loop.index }}
                                    </td>

                                    <td>
                                        <a href="{{ url_for('main.profile', username=entry.user.username) }}"
                                            class="text-decoration-none text-dark d-flex align-items-center justify-content-center gap-2">

                                            <img src="{{ entry.user.profile_pic }}"
                                                    width="35"
                                                    height="35"
                                                    class="rounded-circle"
                                                    alt="Profile Pic">

                                            {{ entry.user.username }}
                                        </a>
                                    </td class="text-center">

                                    <td class="text-center">
                                        {{ entry.user.elo }}
                                    </td>
                                    <td class="text-center">
                                        {{ entry.wins }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Match History -->
            <div class="card shadow-sm w-100">
                <div class="card-header text-center fw-bold">
                    Match History
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-striped align-middle table-hover mb-0">

                        <thead>
                            <tr>
                                <th class="text-center">
                                    Date
                                </th class="text-center">
                                <th>
                                    Opponent
                                </th>
                                <th class="text-center">
                                    Winner
                                </th>
                                <th class="text-center">
                                    Elo Gain/Loss
                                </th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <!-- Jinja for loop -->
                            {% for match in match_history[:8] %}
                                <tr>
                                    <td class="text-center">
                                        {{ match.date }}
                                    </td>
                                    <td class="text-center">
                                        {{ match.opponent }}
                                    </td>
                                    <td class="text-center">
                                        {{ match.winner }}
                                    </td>

                                    <td class="text-center">
                                        {{ match.elo_before }}
                                        <span class="text-{{ 'success' if match.elo_change > 0 else 'danger' }}">
                                            {{ '↑' if match.elo_change > 0 else '↓' }}
                                            {{ match.elo_change | abs }}
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}
