{#
Global items: Navbar, Bootstrap CSS
Should only be touched if there is global changes to all pages, otherwise use:
1. {% extends "layout.html" %} - to make a new page with this as the base
2. {% block content %}Index{% endblock %} - to add content to the page
3. {{ url_for()}} - use this for any links. Eg. Images, Pages
4. Jinja specific code gets processed in <!--  -->
#}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <title>{{ title + " - 2048 Battle" if title else "2048 Battle" }}</title>
    </head>
    <body class="bg-light">
        <!--navigation bar-->
        <div>
            <!--navbar-dark means light text color-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{{ url_for('home') }}">
                    <div class="container">
                        <img src="{{ url_for('static', filename='logo.svg') }}" alt="Cool Blue Logo that has 2048" height="auto" width="50px">
                        2048 Battle
                    </div>
                </a>
            </nav>
        </div>
        <div class="container">
            <div class="pt-2">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            {% block content %}
            {% endblock content %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>
